
.account-info_container {
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 80px;
    height: 100%;
    background-color: black;
    border-right: 1px solid grey;
    .account-info_list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        max-height: 90%;
        overflow-y: auto;
        .account-info_list-item {
            display: flex;
            margin-bottom: 35px;
            align-items: center;
            margin-left: 20px;
            width: 100%;
            cursor: pointer;
            img {
                width: 30px;
                margin-right: 50px;
            }
            h3 {
                font-size: 23px;
            }
        }
    }
    
}



@media screen and (min-device-width: 1280px) { 
    .account-info_container {
        min-width: 300px;
        .account-info_list {
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: #888 #eee;
        }
    
    }
}


@media (max-width: 1280px) {
    .account-info_container{ 
    
        .account-info_list {
            .account-info_list-item {
                margin-bottom: 30px;
                margin-left: 0;
                justify-content: center;
                cursor: pointer;
                img {
                    width: 30px;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .account-info_container {
        position: fixed;
        z-index: 10;
        width: 280px;
        height: 100%;
        max-height: 100vh;
        overflow-y: auto;
        background-color: black;
        padding-left: 15px;
        padding-top: 20px;
        padding-right: 15px;
        font-weight: bold;
        .account-info_title {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            margin-bottom: 30px;
            .account-info_title--collapse {
                font-weight: 100;
            }
        }
    
        .account-info_user {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            img {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
            }
            .account-info_user-following {
                display: flex;
                font-size: 15px;
                margin-top: 5px;
                p {
                    margin-right: 25px;
                }
                span {
                    color: grey;
                }
            }
        }

        .account-info_list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-bottom: 1px solid grey;
            .account-info_list-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 20px;
                img {
                    width: 20px;
                    margin-right: 40px;
                }
                h3 {
                    font-size: 25px;
                }
            }
        }
        

        .account-info_fixed {
            width: 100%;
            height: 100px;
            background-color: yellow;
        }

    }
}