
.twitter-container {
    position: relative;
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 112, 131, 0.4);
    // overflow-y: hidden;
    display: flex;
    overflow-x: hidden;
    .twitter-user {
        img {
            width: 50px;
        }
    }
    .twitter-account-info {
        position: relative;
        border-right: 1px solid grey;
        min-width: 80px;
        height: 100vh;
    }
    
    .mobile-fiexd-main-list {
        display: none;
    }

    .twitter-account-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}


@media screen and (min-device-width: 1280px) and (max-device-width: 2560px) { 
    .twitter-container {
        .twitter-account-info {
            min-width: 300px;
        }
    }
}


@media (max-width: 500px) {
    .twitter-container {
        height: 88%;
        .twitter-account-info {
            display: none;
        }
        .active-twitter-account-info {
            width: 280px;
            height: 100%;
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
        }

        .mobile-fiexd-main-list {
            display: flex;
            width: 100%;
            height: 70px;
            position: fixed;
            bottom: 0;
        }

        .twitter-account-content {
            width: 100%;
            height: 100%;
        }
    }
}
